.header {
    border-radius: 12px 12px 0 0;
}

.header .hr {
    transform: translateY(1px);
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 32px 26px;
}

.header-user {
    display: flex;
    align-items: center;
}

.header-user .user-avatar {
    width: 69px;
    height: 69px;
    border-radius: 8px;
}

.header-user .user-info {
    margin-left: 16px;
}

.header-user .user-info .name {
    margin: .5625em 0;
    font-size: 18px;
}

.header-user .user-info .desc {
    margin: .125em 0;
    font-size: 14px;
    color: #262626;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav .nav-item {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    margin: 0 6px;
    transition: background-color ease 180ms, width ease 240ms;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.header-nav .nav-item:first-child {
    margin: 0 6px 0 0;
}

.header-nav .nav-item:last-child {
    margin: 0 0 0 6px;
}

.header-nav .nav-item:hover {
    background-color: #eef4f9;
    width: 120px;
}

.header-nav .nav-item:active,
.header-nav .nav-item.active {
    background-color: #d0e0ef;
}

.header-nav .nav-item i.iconfont {
    font-size: 20px;
}

.header-nav .nav-item .title {
    width: 0;
    overflow: hidden;
}

.header-nav .nav-item:hover .title {
    width: auto;
}

@media (prefers-color-scheme: dark) {
    .header-user .user-info .desc {
        color: #c9c9c9;
    }
    .header-nav .nav-item:hover {
        background-color: #a9bed1;
    }
    .header-nav .nav-item:active,
    .header-nav .nav-item.active {
        background-color: #717f8b;
    }
}

@media only screen and (max-width: 960px) {
    .header {
        border-radius: 0;
    }
    .header_inner {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding: 24px 26px;
        gap: 12px;
    }
    .header-user .user-avatar {
        width: 52px;
        height: 52px;
    }
}

@media only screen and (max-width: 540px) {
    .header-nav {
        max-width: 100%;
    }
}

