body {
    font-family: system-ui, -apple-system, fangsong, "PingFang SC", miui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, emoji, segoe ui symbol;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #121212;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container::before {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: linear-gradient(128deg, #e7f1ff, #f3efff);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 90px auto 0;
}

.container_inner {
    position: relative;
    box-shadow: 0 7px 20px 1px #d7ceff30;
    transition: background-color ease 120ms;
}

.header, .main, .footer {
    background-color: #ffffff;
}

.main {
    min-height: 600px;
}

.avatar {
    overflow: hidden;
}

.avatar img {
    width: 100%;
    object-fit: cover;
}

.hr {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(90deg, #BCD3E8 50%, transparent 50%, transparent 1px);
    background-size: 12px 2px;
    background-repeat: repeat-x;
    background-position: center center;
}

.view {
    min-height: inherit;
    padding: 24px 26px;
    position: relative;
}

.view .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading .loading_inner {
    display: flex;
    align-items: center;
}

.loading .loading-icon {
    flex-shrink: 0;
    animation: spin 1s linear infinite;
}

.loading.hide {
    display: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading .loading-icon i.iconfont {
    font-size: 29px;
}

.loading .loading-tip {
    font-size: 20px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #f3f3f3;
    }
    img {
        filter: contrast(.82);
    }
    .hr {
        background-image: linear-gradient(90deg, #adb5bf 50%, transparent 50%, transparent 1px);
    }
    .container::before {
        background-image: linear-gradient(128deg, #8b9199, #928f99);
    }
    .container_inner {
        box-shadow: 0 7px 20px 1px #817c9930;
    }
    .header, .main, .footer {
        background-color: #4d4d4d;
    }
}

@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1920px) {

}
@media only screen and (max-width: 1366px) {

}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 960px) {
    .container {
        margin: 0 auto;
    }
    .container_inner {
        box-shadow: none;
    }
}
@media only screen and (max-width: 540px) {

}
